<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Listagem de Livros</title>
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/css/bootstrap-theme.css">
    </head>
    <body>
        <% if(locals.status){ %>
            <p class="alert alert-info"><%=status%></p>
        <%}%>
        <div>
            <div class ="container min-container">
                <h2 class="basic-title">Add</h2>
                
                <div class="errors">
                   <%if(locals.erros){%>
                    <ul style="list-style-type: none; padding: 0px;">
                        <% erros.forEach((erro) => {%>
                        <li class="alert alert-danger" style="padding: 0.5em;"><%= erro.msg %></li>
                   <%})}%>
                   </ul>
                </div>

                <form action="/produtos" method="post" class="well" role="form">
                    <div class="form-group">
                        <label for="titulo">Titulo</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-unchecked"></i></span>
                            <input type="text" name="titulo" placeholder="titulo do livro" value="<%=livro.titulo%>"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="preco">Preço</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-unchecked"></i></span>
                            <input type="text" name="preco" placeholder="valor do livro" value="<%=livro.preco%>"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="descricao">Descricao</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-unchecked"></i></span>
                            <textarea name="descricao" cols="50" rows="5"><%=livro.descricao%></textarea>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Gravar</button>
                </form>
            </div>
        </div>
    </body>
</html>    