<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Listagem de Livros</title>
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/css/bootstrap-theme.css">
    </head>
    <body class="container">
        <h2 class="basic-title text-center">Listagem de livros</h2>
        <div>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <td><a href="">TÍTULO</a></td>
                    <td><a href="">PREÇO</a></td>
                    <td><a href="">DESCRIÇÃO</a></td>
                    <td><a href="">AÇÃO</a></td>
                </tr>
                </thead>
                <tbody>

                    <% 
                    lista.forEach((livro) => {
                        %>
                        <tr>
                            <td><a href="/produtos/form/<%=livro.id%>"><%= livro.titulo %></a></td>
                            <td><%= livro.preco %></td>
                            <td><%= livro.descricao %></td>
                            <td>
                                <form action="/produtos/<%=livro.id%>?_method=DELETE" method="post">
                                    <button type="submit" class="btn btn-danger">Remover</button>
                                </form>
                            </td>
                        </tr>
                        <%
                        })
                       %>
                </tbody>
            </table>
        </div>
        <a href="/produtos/form">[Cadastrar Produto]</a>
    </body>
</html>